<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <servlet>
        <description>My first Servlet code</description>
        <servlet-name>GeorgeSevlet</servlet-name>
        <servlet-class>servlet.GeorgeSevlet</servlet-class>
    </servlet>
    
    <!-- 路徑不建議用真實路徑，可進行修改 
        <url-pattern>/*</url-pattern>
        <url-pattern>/servlet/123.html</url-pattern>
        <url-pattern>/Demo/servlet/LottoServlet</url-pattern>
        -->
    <!--  一般路徑 -->
    <servlet-mapping>
        <servlet-name>GeorgeSevlet</servlet-name>
        <url-pattern>/servlet/GeorgeSevlet</url-pattern>
    </servlet-mapping>
    
    <!--  客戶用路徑 -->
    <servlet-mapping>
        <servlet-name>GeorgeSevlet</servlet-name>
        <url-pattern>/supervisor/GeorgeSevlet</url-pattern>
    </servlet-mapping>
    
</web-app>
